<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connection"
        connectionString="Server=dro.h.filess.io; Port=3307; DATABASE=ayuntamientoDb_barepipehe; UID=ayuntamientoDb_barepipehe; PASSWORD=b89fe7fdc6a6c08d53c0161030c67119f92a5a82; Pooling=True; Max Pool Size=2;"
        providerName="System.Data.MySqlClient"/>
  </connectionStrings>
</configuration>