<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connection"
        connectionString="Server=localhost; DATABASE=inventarioR_db; UID=root; PASSWORD=password"
        providerName="System.Data.MySqlClient"/>
  </connectionStrings>
</configuration>