<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connection"
        connectionString="Server=44a.h.filess.io; Port=3307; DATABASE=BodegaHerramientas_imagetail; UID=BodegaHerramientas_imagetail; PASSWORD=7760206f6793f517ad5e3b21d1bfd5e835223532; Pooling=True; Max Pool Size=2;"
        providerName="System.Data.MySqlClient"/>
  </connectionStrings>
</configuration>